[submodule "lua5.0-swbf2-x64"]
	path = lua5.0-swbf2-x64
	url = https://github.com/Ben1138/lua5.0-swbf2-x64
[submodule "LibSWBF2"]
	path = LibSWBF2
	url = https://github.com/Ben1138/LibSWBF2
[submodule "UnityProject/Assets/LVLImport"]
	path = UnityProject/Assets/LVLImport
	url=https://github.com/WHSnyder/SWBF2-.lvl-Extraction-Tools-for-Unity3D
	branch = runtime
[submodule "UnityProject/Assets/CraUnity"]
	path = UnityProject/Assets/CraUnity
	url = https://github.com/Ben1138/CraUnity